---
import '../styles/views/clientes.css';
---

<section id="clientes">
    <div class="title">
        <h2>Nuestros clientes</h2>
        <p>Algunos ejemplos de clientes</p>
    </div>
    <div class="images">
        <img src="/clients/Logo.png" alt="logo1">
        <img src="/clients/Logo (1).png" alt="logo2">
        <img src="/clients/Logo (2).png" alt="logo3">
        <img src="/clients/Logo (3).png" alt="logo4">
        <img src="/clients/Logo (4).png" alt="logo5">
        <img src="/clients/Logo (5).png" alt="logo6">
        <img src="/clients/Logo.png" alt="logo7">
    </div>
</section>