---
---

<section id="hero" class="hero">
    <div class="hero-content">
        <h1 class="hero-title">bytes</h1>
        <p class="hero-description">
            bytes es un software ERP diseñado especialmente para restaurantes que buscan optimizar sus operaciones diarias.
        </p>
        <a href="#" class="hero-button">
            Ingresa a la plataforma
        </a>
    </div>
</section>