---
import '../styles/global.css';

import Navbar from "../layout/Navbar.astro";
import Footer from "../layout/Footer.astro";

import Hero from "../views/Hero.astro";
import Info1 from '../views/Info1.astro';
import Caracteristicas from "../views/Caracteristicas.astro";
import Beneficios from "../views/Beneficios.astro";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>lading page</title>
	</head>
	<body>
		<Hero />
		<Info1 />
		<Caracteristicas />
		<Beneficios />
	</body>
</html>
