---
import '../styles/global.css';

import Navbar from "../layout/Navbar.astro";
import Footer from "../layout/Footer.astro";

import Hero from "../views/Hero.astro";
import Clientes from '../views/Clientes.astro';
import Info1 from '../views/Info1.astro';
import Caracteristicas from "../views/Caracteristicas.astro";
import Beneficios from "../views/Beneficios.astro";
import CommunityUpdt from '../views/CommunityUpdt.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>lading page</title>
	</head>
	<body>
		<Navbar />
		<div class="header">
			<Hero />
			<Clientes />
			<Info1 />
		</div>
		<div class="body">
			<Caracteristicas />
			<Beneficios />
			<CommunityUpdt />
		</div>
		<Footer />
	</body>
</html>

<style>
	.header {
		display: inline-flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;
		width: 100%;
	}
	.body {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 48px;
		width: 100%;
	}
</style>
