---
import "../styles/layout/navbar.css";
---

<nav id="navbar">
    <div class="title">
        <h1>Bytes</h1>
    </div>
    <div class="buttons">
        <a href="#login" class="login">LogIn</a>
        <a href="#signup" class="signup">SignUp</a>
    </div>
</nav>

<style>
    #navbar {
    display: inline-flex;
    padding: 22px 120px 22px 148px;
    justify-content: flex-end;
    align-items: center;
    gap: 922px;
    background: var(--Fondo, #FAF3E0);
    width: 100%;

    & .title h1 {
        color: var(--Principal, #581845);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px; /* 100% */
    }

    & .buttons {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    & .buttons .login {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: var(--Fondo, #FAF3E0);
        color: #581845;
        text-decoration: none;
    }

    & .buttons .signup {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        border-radius: 6px;
        background: var(--Principal, #581845);
        color: #FFFFFF;
        text-decoration: none;
    }
}
</style>